{% load static %}

{% block workflow-styles-section %}

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'workflow-static/images/generic-icon.png' %}">
    
	<!-- CSS -->
    <link href="{% static 'workflow-static/vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'workflow-static/vendor/chartist/css/chartist.min.css' %}">
	<link href="{% static 'workflow-static/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'workflow-static/css/style.css' %}" rel="stylesheet">
	
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
{% endblock workflow-styles-section %}