{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- PAGE TITLE HERE -->
    <title>Editor Articles Page</title>

	{% include 'workflow-styles.html' %}
	{% block workflow-styles-section %}
	{% endblock %}

</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

		{% include 'editor/header-section.html' %}
		{% block nav-header-section %}
		{% endblock %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Current Articles</a></li>
					</ol>
				</div>

				<div class="row">
					<div class="col-xl-12">
						<div id="accordion-one" class="accordion doctor-list">
							<div class="accordion__item">
								<div class="accordion__header collapsed rounded-lg" id="headingThree" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-controls="collapseThree"  role="button"  aria-expanded="true">
									<span class="accordion__header-alphabet">Rejected for Revision</span>
									<span class="accordion__header-line flex-grow-1"></span>
									<span class="accordion__header--text">1 Project</span>
									<span class="accordion__header--indicator style_two"></span>
								</div>
								<div id="collapseThree" class="collapse  show" aria-labelledby="headingThree" data-bs-parent="#accordion-one">
									<div class="accordion-body-text">
										<div class="widget-media best-doctor pt-4">
											<div class="timeline row">
												<div class="col-lg-6 bg-white">
													<div class="timeline-panel bg-white p-4 mb-1 d-flex align-items-center justify-content-between flex-wrap">
														<div class="d-flex">
															<div class="media me-4">
																<img alt="image" width="90" src="images/avatar/1.jpg">
															</div>
															<div class="media-body">
																<h4 class="mb-2">Editor -> Editor's Name</h4>
																<p class="mb-2 text-primary"><strong>Team List</strong></p>
																<p class="mb-2 text-primary">Journalist 1 -> Fashion expert</p>
																<p class="mb-2 text-primary">Journalist 2 -> Lifestyle</p>
																<p class="mb-2 text-primary">Journalist 3 -> photographer</p>
															</div>
														</div>
													</div>
													<div class="accordion-item">
														<div class="accordion-header rounded-lg" id="accord-6One" data-bs-toggle="collapse" data-bs-target="#collapse6One" aria-controls="collapse6One" aria-expanded="true" role="button">
															<span class="accordion-header-icon"></span>
														  <span class="accordion-header-text">Reasons and Instructions</span>
														  <span class="accordion-header-indicator"></span>
														</div>
														<div id="collapse6One" class="accordion__body collapse show" aria-labelledby="accord-6One" data-bs-parent="#accordion-six" style="">
														  <div class="accordion-body-text">
															 	List of Reasons and explanations
														  </div>
														</div>
													</div>																											
													<div class="row p-4 mb-4">
														<a href="./current-article.html" class="btn btn-outline-primary btn-sm">Revise</a>
													</div>
												</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="accordion__item">
								<div class="accordion__header rounded-lg" data-bs-toggle="collapse" data-bs-target="#default_collapseTwo">
									<span class="accordion__header-alphabet">Rejected and discarded</span>
									<span class="accordion__header-line flex-grow-1"></span>
									<span class="accordion__header--text">1 Project</span>
									<span class="accordion__header--indicator style_two"></span>
								</div>
								<div id="default_collapseTwo" class="collapse accordion__body" data-bs-parent="#accordion-one">
									<div class="widget-media best-doctor pt-4">
										<div class="timeline row">
											<div class="col-lg-6 bg-white">
												<div class="timeline-panel bg-white p-4 mb-1 d-flex align-items-center justify-content-between flex-wrap">
													<div class="d-flex">
														<div class="media me-4">
															<img alt="image" width="90" src="images/avatar/1.jpg">
														</div>
														<div class="media-body">
															<h4 class="mb-2">Editor -> Editor's Name</h4>
															<p class="mb-2 text-primary"><strong>Team List</strong></p>
															<p class="mb-2 text-primary">Journalist 1 -> Fashion expert</p>
															<p class="mb-2 text-primary">Journalist 2 -> Lifestyle</p>
															<p class="mb-2 text-primary">Journalist 3 -> photographer</p>
														</div>
													</div>
												</div>													
												<div class="row px-4 mt-2 mb-2">
													Progress
													<div class="progress mb-0">
														<div class="progress-bar progress-animated bg-danger mx-0" style="width: 100%"></div>
													</div>
												</div>														
												<div class="accordion-item">
													<div class="accordion-header rounded-lg" id="accord-6One" data-bs-toggle="collapse" data-bs-target="#collapse6One" aria-controls="collapse6One" aria-expanded="true" role="button">
														<span class="accordion-header-icon"></span>
													  <span class="accordion-header-text">Reasons and Instructions </span>
													  <span class="accordion-header-indicator"></span>
													</div>
													<div id="collapse6One" class="accordion__body collapse show" aria-labelledby="accord-6One" data-bs-parent="#accordion-six" style="">
													  <div class="accordion-body-text">
															 List of Reasons and explanations (Editorial reviews)
													  </div>
													</div>
												</div>																											
												<div class="row p-4 mb-4">
													<a href="#" class="btn btn-outline-danger btn-sm">Discard</a>
												</div>
											</div>
																					
										</div>
									</div>
								</div>
							</div>
							<div class="accordion__item">
								<div class="accordion__header rounded-lg" data-bs-toggle="collapse" data-bs-target="#default_collapseThree">
									<span class="accordion__header-alphabet">Accepted</span>
									<span class="accordion__header-line flex-grow-1"></span>
									<span class="accordion__header--text">1 Project</span>
									<span class="accordion__header--indicator style_two"></span>
								</div>
								<div id="default_collapseThree" class="collapse accordion__body" data-bs-parent="#accordion-one">
									<div class="widget-media best-doctor pt-4">
										<div class="timeline row">
											<div class="col-lg-6 bg-white">
												<div class="timeline-panel bg-white p-4 mb-1 d-flex align-items-center justify-content-between flex-wrap">
													<div class="d-flex">
														<div class="media me-4">
															<img alt="image" width="90" src="images/avatar/1.jpg">
														</div>
														<div class="media-body">
															<h4 class="mb-2">Editor -> Editor's Name</h4>
															<p class="mb-2 text-primary"><strong>Team List</strong></p>
															<p class="mb-2 text-primary">Journalist 1 -> Fashion expert</p>
															<p class="mb-2 text-primary">Journalist 2 -> Lifestyle</p>
															<p class="mb-2 text-primary">Journalist 3 -> photographer</p>
														</div>
													</div>
												</div>													
												<div class="row px-4 mt-2 mb-2">
													Progress
													<div class="progress mb-0">
														<div class="progress-bar progress-animated bg-success mx-0" style="width: 100%"></div>
													</div>
												</div>														
												<div class="accordion-item">
													<div class="accordion-header rounded-lg" id="accord-6One" data-bs-toggle="collapse" data-bs-target="#collapse6One" aria-controls="collapse6One" aria-expanded="true" role="button">
														<span class="accordion-header-icon"></span>
													  <span class="accordion-header-text">Comments </span>
													  <span class="accordion-header-indicator"></span>
													</div>
													<div id="collapse6One" class="accordion__body collapse show" aria-labelledby="accord-6One" data-bs-parent="#accordion-six" style="">
													  <div class="accordion-body-text">
															List of Editor's comments and editorial reviews
													  </div>
													</div>
												</div>																											
												<div class="row p-4 mb-4">
													<a href="#" class="btn btn-outline-success btn-sm">Preview</a>
												</div>
											</div>
																					
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
			
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by Mike 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
	{% include 'workflow-scripts.html' %}
	{% block workflow-scripts-section %}
	{% endblock %}	
	
	
	
</body>
</html>