{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- PAGE TITLE HERE -->
    <title>Journalist Articles Page</title>

	{% include 'workflow-styles.html' %}
	{% block workflow-styles-section %}
	{% endblock %}

</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

		{% include 'journalist/header-section.html' %}
		{% block nav-header-section %}
		{% endblock %}
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Current Articles</a></li>
					</ol>
				</div>

				<div class="row">
					<div class="col-xl-12">
						<div id="accordion-one" class="accordion doctor-list">
							<div class="accordion__item">
								<div class="accordion__header collapsed rounded-lg" id="headingThree" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-controls="collapseThree"  role="button"  aria-expanded="true">
									<span class="accordion__header-alphabet">Assigned (Incomplete) Tasks</span>
									<span class="accordion__header-line flex-grow-1"></span>
									<span class="accordion__header--text">{{incomplete_tasks.count}} Task(s)</span>
									<span class="accordion__header--indicator style_two"></span>
								</div>
								<div id="collapseThree" class="collapse  show" aria-labelledby="headingThree" data-bs-parent="#accordion-one">
									<div class="accordion-body-text">
										<div class="row">
											<div class="col-lg-12">
												<div class="card">
													<div class="card-header">
														<h4 class="card-title">Recent Assigned Tasks</h4>
													</div>
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-responsive-md">
																<thead>
																	<tr>
																		<th style="width:80px;"><strong>#</strong></th>
																		<th><strong>Title given</strong></th>
																		<th><strong>Time Remaining</strong></th>
																		<th><strong>Deadline</strong></th>
																		<th><strong>Other Details</strong></th>
																		<th><strong>Action</strong></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		{% if incomplete_tasks %}

																	{% for task in incomplete_tasks %}
																	<tr>
																		<td style="width:80px;">{{task.id}}</td>
																		<td>{{task.title}}</td>
																		<td>{{task.deadline|timeuntil}}</td>
																		<td>{{ task.deadline }}</td>
																		<td>
																			<a href="#otherDetails{{task.id}}" data-bs-toggle="modal"  class="btn" id="teamMembers">Other Details</a>
																			<div class="modal fade" id="otherDetails{{task.id}}" tabindex="-1" aria-labelledby="otherDetails{{task.id}}Label" aria-hidden="true">
																				<div class="modal-dialog modal-dialog-centered" role="document">
																					<div class="modal-content">
																						<div class="modal-header">
																							<h5 class="modal-title">Other Details for {{task.title}} Task</h5>
																							<button type="button" class="btn-close" data-bs-dismiss="modal">
																							</button>
																						</div>
																						<div class="modal-body">

																							<fieldset class="rounded">
																								<legend>Description:</legend>
																								<p>{{task.description}}</p>
																							</fieldset>
																							<div class="basic-list-group">
																								<ul class="list-group list-group-flush">
																									<li class="list-group-item">Project - {{ task.project.title }}</li>
																									{% if task.status == "complete" %}
																									{% else %}
																										{% if task.remaining_days < 3 %}
																									<li class="list-group-item list-group-item-warning">{{ task.remaining_days }} days remaining</li>
																										{% elif task.remaining_days <= 1 %}
																									<li class="list-group-item list-group-item-danger">{{ task.remaining_days }} day(s) remaining</li>
																										{% else %}
																									<li class="list-group-item list-group-item-success">{{ task.remaining_days }} days remaining</li>
																										{% endif %}
																									{% endif %}
																								</ul>	
																							</div>
																						</div>
																						<div class="modal-footer">
																							<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		
																		</td>
																		<td>
																		<a href="{% url 'journalist-current-article' task_id=task.id %}" class="btn btn-outline-info" id="teamMembers">Check -></a>
																		</td>
																	</tr>
																	
																	{% endfor %}
																	
																	{% else %}
																	{% endif %}
																	</tr>
																	
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>										
									</div>
								</div>
							</div>
							
							<div class="accordion__item">
								<div class="accordion__header rounded-lg" data-bs-toggle="collapse" data-bs-target="#default_collapseThree">
									<span class="accordion__header-alphabet">Complete Tasks</span>
									<span class="accordion__header-line flex-grow-1"></span>
									<span class="accordion__header--text">{{complete_tasks.count}} Task(s)</span>
									<span class="accordion__header--indicator style_two"></span>
								</div>
								<div id="default_collapseThree" class="collapse accordion__body" data-bs-parent="#accordion-one">
									<div class="accordion-body-text">
										<div class="row">
											<div class="col-lg-12">
												<div class="card">
													<div class="card-header">
														<h4 class="card-title">Complete Tasks Awaiting Approval/Publication</h4>
													</div>
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-responsive-md">
																<thead>
																	<tr>
																		<th style="width:80px;"><strong>#</strong></th>
																		<th><strong>Title given</strong></th>
																		<th><strong>Date Finished</strong></th>
																		<th><strong>Other Details</strong></th>
																		<th><strong>Status</strong></th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		{% if complete_tasks %}

																	{% for task in complete_tasks %}
																	<tr>
																		<td style="width:80px;">{{task.id}}</td>
																		<td>{{task.title}}</td>
																		<td>{{task.end_date_time}}</td>
																		<td>
																			<a href="#otherDetails{{task.id}}" data-bs-toggle="modal"  class="btn" id="teamMembers">Other Details</a>
																			<div class="modal fade" id="otherDetails{{task.id}}" tabindex="-1" aria-labelledby="otherDetails{{task.id}}Label" aria-hidden="true">
																				<div class="modal-dialog modal-dialog-centered" role="document">
																					<div class="modal-content">
																						<div class="modal-header">
																							<h5 class="modal-title">Other Details for {{task.title}} Task</h5>
																							<button type="button" class="btn-close" data-bs-dismiss="modal">
																							</button>
																						</div>
																						<div class="modal-body">

																							<fieldset class="rounded">
																								<legend>Description:</legend>
																								<p>{{task.description}}</p>
																							</fieldset>
																							<div class="basic-list-group">
																								<ul class="list-group list-group-flush">
																									<li class="list-group-item">Project - {{ task.project.title }}</li>
																									{% if task.status == "complete" %}
																									<li class="list-group-item list-group-item-success">Task Complete</li>
																									{% else %}
																										{% if task.remaining_days < 3 %}
																									<li class="list-group-item list-group-item-warning">{{ task.remaining_days }} days remaining</li>
																										{% elif task.remaining_days <= 1 %}
																									<li class="list-group-item list-group-item-danger">{{ task.remaining_days }} day(s) remaining</li>
																										{% else %}
																									<li class="list-group-item list-group-item-success">{{ task.remaining_days }} days remaining</li>
																										{% endif %}
																									{% endif %}
																								</ul>	
																							</div>
																						</div>
																						<div class="modal-footer">
																							<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		
																		</td>
																		<td>
																		{% if task.submision_status == 'submitted' %}
																			<span class="text text-success">Awaiting Publication</span>
																		{% else %}
																			<span class="text text-warning">Awaiting Approval</span>
																		{% endif %}
																		</td>
																	</tr>
																	
																	{% endfor %}
																	
																	{% else %}
																	{% endif %}
																	</tr>
																	
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
			
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by Mike 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
	{% include 'workflow-scripts.html' %}
	{% block workflow-scripts-section %}
	{% endblock %}	
</body>
</html>