{% block right-side-section %}
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="GET" action="{% url 'blog-list' %}">
                      {% csrf_token %}
                      <input type="text" name="search_query" class="searchText" placeholder="type to search..." autocomplete="on">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts" style="max-height: 600px;">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      {% if all_posts %}
                      <ul>
                      {% for task in all_posts %}
                      <li><a href="{% url 'blog' task_id=task.id %}">
                          <h5> {{task.article.title}} -> {{task.article.subtext}}</h5>
                          <span> {{task.publication_date}} </span>
                        </a></li>
                      {% endfor %}                      
                      {% else %}
                      <center>There are no other posts/Articles at the moment</center>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      {% if categories %}
                      <ul>
                      {% for category in categories %}
                        <li><a href="{% url 'blog-list' %}?category={{ category.category_name }}" style="text-transform: uppercase;">- {{category.category_name}} </a></li>                      
                      {% endfor %}
                      </ul>
                      {% else %}
                      {% endif %}
                      
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
                      {% if top_tags %}
                      <ul>
                      {% for tag in top_tags %}
                        <li><a href="{% url 'blog-list' %}?tag={{ tag.tag_name }}">{{tag.tag_name}}</a></li>                      
                      {% endfor %}
                      </ul>
                      {% elif top_ten_tags %}
                      <ul>
                      {% for tag in top_ten_tags %}
                        <li><a href="{% url 'blog-list' %}?tag={{ tag.tag_name }}">{{tag.tag_name}}</a></li>                      
                      {% endfor %}
                      </ul>
                      {% endif %}                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock right-side-section %}