{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="Mike" />
	<meta property="og:image" content="{% static 'workflow-static/images/generic-icon.png' %}"/>
	<meta name="format-detection" content="telephone=no">
	
	<!-- PAGE TITLE HERE -->
    <title>Log In</title>
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'workflow-static/images/generic-icon.png' %}">
    
	<!-- CSS -->
    <link href="{% static 'workflow-static/vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'workflow-static/vendor/chartist/css/chartist.min.css' %}">
	<link href="{% static 'workflow-static/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'workflow-static/css/style.css' %}" rel="stylesheet">
	
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Sign in your account</h4>
                                    <form action="" method="post" autocomplete="off">
                                        {% csrf_token %}

                                        {% if errors %}
                                            {% for error in errors %}
                                        
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <strong>Error!</strong> {{ error }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>    
                                            {% endfor %}
                                        {% endif %}

                                        {% if form.errors %}
                                            {% for error in form.errors %}
                                        
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <strong>Error!</strong> {{ error }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>    
                                            {% endfor %}
                                        {% endif %}

                                        {% if messages %}
                                            {% for message in messages %}
                                                {% if 'alert_message' in message.tags %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <strong>Success!</strong> {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        <div class="form-group">
                                            <label class="mb-1"><strong>Username</strong></label>
                                            {% if messages %}
                                                {% for message in messages %}
                                                    {% if 'username' in message.tags %}
                                            <input type="text" name="username" value="{{message}}"  class="form-control" autocomplete="off" placeholder="user-name-example">        
                                                    {% else %}
                                                    {% endif %}                                                
                                                {% endfor %}
                                            {% else %}
                                            <input type="text" name="username" value=""  class="form-control" autocomplete="off" placeholder="user-name-example">  
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Password</strong></label>
                                            <input type="password" name="password" class="form-control" autocomplete="new password">
                                        </div>
                                        <div class="text-center mt-2">
                                            <button type="submit" class="btn btn-primary btn-block">Log In</button>
                                        </div>
                                    </form>                                    
                                    <div class="form-row d-flex flex-wrap justify-content-start mt-4">
                                        <div class="form-group ms-2">
                                            <a href="#">Forgot Password?</a>
                                        </div>
                                    </div>
                                    <div class="new-account mt-0 ms-2">
                                        <p>Don't have an account? <a class="text-primary" href="{% url 'register' %}">Register Account</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <!-- Common JS -->
<script src="{% static 'workflow-static/vendor/global/global.min.js' %}"></script>

<script src="{% static 'workflow-static/js/custom.min.js' %}"></script>
<script src="{% static 'workflow-static/js/deznav-init.js' %}"></script>\

</body>

</html>