{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- PAGE TITLE HERE -->
    <title>Director Articles Page</title>
    
	{% include 'workflow-styles.html' %}
	{% block workflow-styles-section %}
	{% endblock %}

	<link href="{% static 'workflow-static/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">

</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

		{% include 'director/header-section.html' %}
		{% block nav-header-section %}
		{% endblock %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Projects/Tasks</a></li>
					</ol>
				</div>

				<div class="row">
					<div class="col-xl-12">
						<div id="accordion-one" class="accordion doctor-list">
							<div class="accordion__item">
								<div class="accordion__header collapsed rounded-lg" id="headingThree" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-controls="collapseThree"  role="button"  aria-expanded="true">
									<span class="accordion__header-alphabet">Projects</span>
									<span class="accordion__header-line flex-grow-1"></span>
									<span class="accordion__header--text">{{ projects_count }} Project(s)</span>
									<span class="accordion__header--indicator style_two"></span>
								</div>
								<div id="collapseThree" class="collapse  show" aria-labelledby="headingThree" data-bs-parent="#accordion-one">
									<div class="accordion-body-text">
										<div class="row">
											<div class="col-lg-12">
												<div class="card">
													<div class="card-header">
														<div class="form-head d-flex mb-2 align-items-start flex-wrap justify-content-between">
															<div class="me-auto d-md-block">
																<h3 class="text-primary font-w600">Your Projects</h3>
															</div>
															
															<div class="input-group ">
																<a href="#addProjectModalToggle" data-bs-toggle="modal"  class="btn btn-danger" id="newProjectButton">ADD PROJECT</a>
																<!-- Add Project modal -->

																<div class="modal fade" id="addProjectModalToggle" tabindex="-1" aria-labelledby="addProjectModalToggleLabel" aria-hidden="true">
																	<div class="modal-dialog modal-lg">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h5 class="modal-title" id="composeModalToggleLabel">New Project</h5>
																				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
																			</div>
																			<div class="modal-body">
																				<div class="col-lg-12">
																					<div class="email-right-box ms-0 ms-sm-4 ms-sm-0">
																						<div class="compose-content">
																							<div class="basic-form">
																								<form method="post">
																									{% csrf_token %}
																									{% if project_errors %}
																										{% for error in project_errors %}
																									<div class="alert alert-warning alert-dismissible fade show" role="alert">
																										<strong>Error!</strong> {{ error }}
																										<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
																									</div> 
																										{% endfor %}
																									{% endif %}
																									<div class="mb-3 row">
																										<label class="col-sm-3 col-form-label">Title</label>
																										<div class="col-sm-9">
																											<input type="text" required class="form-control" name="project-title" placeholder="Project Title">
																										</div>
																									</div>
																									<div class="mb-3 row">
																										<label class="col-sm-3 col-form-label">Description</label>
																										<div class="col-sm-9">
																											<textarea required class="form-control" rows="4" name="project-description" id="project-description"></textarea>
																										</div>
																									</div>
																									<div class="mb-1 row">
																										<div class="col-sm-10">
																											<button type="submit" class="btn btn-primary">Submit Details</button>
																											<button type="reset" class="btn btn-warning" data-bs-dismiss="modal">Reset and close</button>
																										</div>
																									</div>
																								</form>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="modal-footer">
																				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
																			</div>
																	</div>
																	</div>
																</div>


															</div>
														</div>
														
													</div>
													<div class="card-body">

														{% if project_messages %}
															{% for message in project_messages %}
														<div class="alert alert-success alert-dismissible fade show" role="alert">
															<strong>Success!</strong> {{ message }}
															<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
														</div>
															{% endfor %}
														{% endif %}

														{% if project_table_errors %}
															{% for error in project_table_errors %}
														<div class="alert alert-danger alert-dismissible fade show" role="alert">
															<strong>Error!</strong> {{ error }}
															<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
														</div>
															{% endfor %}
														{% endif %}
														<div class="table-responsive">
															<table class="table table-responsive-md" id="projects-table">
																<thead>
																	<tr>
																		<th style="width:40px;"><strong>#</strong></th>
																		<th style="width:40px;"><strong>Title</strong></th>
																		<th style="width:40px;"><strong>Status</strong></th>																		
																		<th style="width:40px;"><strong>Date Created</strong></th>
																		<th style="width:40px;"><strong>No. of Tasks</strong></th>																		
																		<th style="width:40px;"><strong>Other Details</strong></th>
																		<th style="width:40px;"><strong>Activate/Deactivate</strong></th>
																		<th style="width:40px;"><strong>Edit</strong></th>
																	</tr>
																</thead>
																<tbody>

																	{% if projects %}
																	{% for project in projects %}
																	<tr>
																		<td style="width:40px;"><strong>{{project.id}}</strong></td>
																		<td style="width:40px;">{{project.title}}</td>
																		<td style="width:40px;">
																			{% if project.status == 'active' %}
																			<span class="badge badge-success">{{ project.status }}</span>
																			{% endif %}
																			{% if project.status == 'deactivated' %}
																			<span class="badge badge-danger">{{ project.status }}</span>
																			{% endif %}
																		</td>
																		<td style="width:40px;">{{ project.date_of_creation }}</td>
																		<td style="width:40px;">{{ project.task_set.count }}</td>
																		<td style="width:40px;">
																			<a href="#otherProjectDetails{{project.id}}" data-bs-toggle="modal"  class="btn" id="otherprojectdetails">Other Details</a>
																			<div class="modal fade" id="otherProjectDetails{{project.id}}" tabindex="-1" aria-labelledby="otherProjectDetails{{project.id}}Label" aria-hidden="true">
																				<div class="modal-dialog modal-dialog-centered" role="document">
																					<div class="modal-content">
																						<div class="modal-header">
																							<h5 class="modal-title">Other Details for {{project.title}} Project</h5>
																							<button type="button" class="btn-close" data-bs-dismiss="modal">
																							</button>
																						</div>
																						<div class="modal-body">
																							<div class="basic-list-group">
																								<ul class="list-group list-group-flush">
																									<li class="list-group-item">
																									Description - <br>
																									{{ project.description }}</li>

																									<li class="list-group-item">
																									Tasks Breakdown <br>
																																																		
																									</li>
																									
																								</ul>	
																							</div>
																						</div>
																						<div class="modal-footer">
																							<button type="button" class="btn btn-danger light mb-1" data-bs-dismiss="modal">Close</button>
																						</div>
																					</div>
																				</div>
																			</div>

																		</td>
																		<td style="width:40px;">
																			{% if project.status == 'active' %}
																			<form action="" method="post">
																				{% csrf_token %}
																				<input type="hidden" name="projectid" value="{{ project.id }}">
																				<button type="submit" class="btn btn-danger" name="toggleStatusSub">Deactivate</button>
																			</form>
																			{% endif %}
																			{% if project.status == 'deactivated' %}
																			<form action="" method="post">
																				{% csrf_token %}
																				<input type="hidden" name="projectid" value="{{ project.id }}">
																				<button type="submit" class="btn btn-success" name="toggleStatusSub">Activate</button>
																			</form>
																			{% endif %}<br>
																			
																		</td>
																		<td><a href="#editProjectModalToggle" data-bs-toggle="modal" onclick="populateEditProjectModal('{{project.id}}','{{project.title}}','{{project.description}}')" class="btn btn-primary" name="editProjectSub">Edit Project</a></td>
																		
																	</tr>
																	{% endfor %}
																	{% endif %}																	
																</tbody>
															</table>

															<div class="modal fade" id="editProjectModalToggle" tabindex="-1" aria-labelledby="editProjectToggleLabel" aria-hidden="true">
																<div class="modal-dialog modal-lg">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h5 class="modal-title" id="editProjectModalToggleLabel"></h5>
																			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
																		</div>
																		<div class="modal-body">
																			<div class="col-lg-12">
																				<div class="email-right-box ms-0 ms-sm-4 ms-sm-0">
																					{% if edit_project_errors %}
																						{% for error in edit_project_errors %}
																					<div class="alert alert-success alert-dismissible fade show" role="alert">
																						<strong>Error!</strong> {{ error }}
																						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
																					</div>
																						{% endfor %}
																					{% endif %}
																					<div class="compose-content">
																						<div class="basic-form">
																							<form method="post">
																								{% csrf_token %}
																								
																								<input type="hidden" name="project-id" value="">
																								<div class="mb-3 row">
																									<label class="col-sm-3 col-form-label">New Title: </label>
																									<div class="col-sm-9">
																										<input type="text" required class="form-control" name="new-project-title" placeholder="Project Title">
																									</div>
																								</div>
																								<div class="mb-3 row">
																									<label class="col-sm-3 col-form-label">New Description: </label>
																									<div class="col-sm-9">
																										<textarea required class="form-control" rows="4" name="new-project-description" id="project-description"></textarea>
																									</div>
																								</div>																								

																								<div class="mb-1 mt-2 row">
																									<div class="col-sm-10">
																										<button type="submit" class="btn btn-primary">Submit Details</button>
																										<button type="reset" class="btn btn-warning" data-bs-dismiss="modal">Reset and close</button>
																									</div>
																								</div>
																							</form>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
																		</div>
																</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>										
									</div>
								</div>
							</div>
							<div class="accordion__item">
								<div class="accordion__header rounded-lg" data-bs-toggle="collapse" data-bs-target="#default_collapseTwo" id="taskCollapseAccordion">
									<span class="accordion__header-alphabet">Tasks In Progress</span>
									<span class="accordion__header-line flex-grow-1"></span>
									<span class="accordion__header--text">{{ pending_tasks.count }} Task(s)</span>
									<span class="accordion__header--indicator style_two"></span>
								</div>
								<div id="default_collapseTwo" class="collapse accordion__body" data-bs-parent="#accordion-one">
									<div class="accordion-body-text">
										<div class="row">
											<div class="col-lg-12">
												<div class="card">
													<div class="card-header">
														<div class="form-head d-flex mb-2 align-items-start flex-wrap justify-content-between">
															<div class="me-auto d-md-block">
																<h3 class="text-primary font-w600">Your Tasks</h3>
															</div>
															
															<div class="input-group ">
																<a href="#addTaskModalToggle" data-bs-toggle="modal"  class="btn btn-danger" id="newTaskButton">ADD TASK</a>
																<!-- Add Task modal -->

																<div class="modal fade" id="addTaskModalToggle" tabindex="-1" aria-labelledby="addTaskModalToggleLabel" aria-hidden="true">
																	<div class="modal-dialog modal-lg">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h5 class="modal-title" id="composeModalToggleLabel">New Task</h5>
																				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
																			</div>
																			<div class="modal-body">
																				<div class="col-lg-12">
																					<div class="email-right-box ms-0 ms-sm-4 ms-sm-0">
																						<div class="compose-content">
																							<div class="basic-form">
																								<form method="post">
																									{% csrf_token %}
																									{% if task_errors %}
																										{% for error in task_errors %}
																									<div class="alert alert-warning alert-dismissible fade show" role="alert">
																										<strong>Error!</strong> {{ error }}
																										<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
																									</div> 
																										{% endfor %}
																									{% endif %}
																									<div class="mb-3 row">
																										<label class="col-sm-3 col-form-label">Title</label>
																										<div class="col-sm-9">
																											<input type="text" required class="form-control" name="task-title" placeholder="Task Title" maxlength="30" >
																										</div>
																									</div>
																									<div class="mb-3 row">
																										<label class="col-sm-3 col-form-label">Description</label>
																										<div class="col-sm-9">
																											<textarea required class="form-control" rows="4" name="task-description" id="task-description"></textarea>
																										</div>
																									</div>
																									<div class="mb-3 row">
																										<label class="col-sm-3 col-form-label">Project</label>
																										<div class="col-sm-9">
																											<select class="form-control wide mb-3" name="task-project-id" tabindex="null">
																												{% for project in projects %}
																												<option value="{{project.id}}">{{project.title}}</option>
																												{% endfor %}
																												
																											</select>
																										</div>
																									</div>																									
																									<div class="mb-3 row">
																										<label class="col-sm-3 col-form-label">Editor</label>
																										<div class="col-sm-9">
																											<select class="form-control wide mb-3" name="task-editor-id" tabindex="null">
																												{% for editor in task_editors %}
																												<option value="{{editor.id}}">{{editor.user.first_name}} {{editor.user.last_name}}</option>
																												{% endfor %}
																											</select>
																										</div>
																									</div>																									
																									<div class="mb-3 row">
																										<label class="col-sm-3 col-form-label">Deadline</label>
																										<div class="col-sm-4">
																											<input type="date" required class="form-control" name="task-enddate" id="task-enddate">
																										</div>
																										<div class="col-sm-4">
																											<input type="time" required class="form-control" min="08:00" max="17:00" step="3600" name="task-endtime" >
																										</div>
																									</div>
																									<div class="mb-1 row">
																										<div class="col-sm-10">
																											<button type="submit" class="btn btn-primary">Submit Details</button>
																											<button type="reset" class="btn btn-warning" data-bs-dismiss="modal">Reset and close</button>
																										</div>
																									</div>
																								</form>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="modal-footer">
																				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
																			</div>
																	</div>
																	</div>
																</div>

																<!-- Delete Task Modal -->
																<div class="modal fade" id="deleteTaskModal" tabindex="-1" aria-labelledby="deleteTaskModalLabel" aria-hidden="true">
																	<div class="modal-dialog">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h1 class="modal-title fs-5" id="deleteTaskModalLabel"></h1>
																				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																			</div>
																			<div class="modal-body">
																			This Action is irreversible. Are you sure you want to proceed?
																			</div>
																			<div class="modal-footer">
																				<form method="post">
																				{% csrf_token %}
																				<input type="hidden" name="delete-task-id" value="">

																				<button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
																				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>

																				</form>
																				
																			</div>
																		</div>
																	</div>
																</div>

																<div class="modal fade" id="editTaskModalToggle" tabindex="-1" aria-labelledby="editTaskModalToggleLabel" aria-hidden="true">
																	<div class="modal-dialog modal-lg">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h5 class="modal-title" id="editTaskModalToggleLabel"></h5>
																				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
																			</div>
																			<div class="modal-body">
																				<div class="col-lg-12">
																					<div class="email-right-box ms-0 ms-sm-4 ms-sm-0">
																						<div class="compose-content">
																							<div class="basic-form">
																								<form method="post">
																									{% csrf_token %}
																									<input type="hidden" name="edit-task-id" value="">
																									
																									<div class="mb-3 row">
																										<label class="col-sm-3 col-form-label">New Title</label>
																										<div class="col-sm-9">
																											<input type="text" required class="form-control" name="new-task-title" placeholder="Task Title">
																										</div>
																									</div>
																									<div class="mb-3 row">
																										<label class="col-sm-3 col-form-label">Description</label>
																										<div class="col-sm-9">
																											<textarea required class="form-control" rows="4" name="new-task-description" id="new-task-description"></textarea>
																										</div>
																									</div>
																									<div class="mb-3 row">
																										<label class="col-sm-3 col-form-label">Project</label>
																										<div class="col-sm-9">
																											<select class="form-control wide mb-3" name="new-task-project-id" tabindex="null">
																												{% for project in projects %}
																												<option value="{{project.id}}">{{project.title}}</option>
																												{% endfor %}
																												
																											</select>
																										</div>
																									</div>																									
																									<div class="mb-3 row">
																										<label class="col-sm-3 col-form-label">Editor</label>
																										<div class="col-sm-9">
																											<select class="form-control wide mb-3" name="new-task-editor-id" tabindex="null">
																												{% for editor in task_editors %}
																												<option value="{{editor.id}}">{{editor.user.first_name}} {{editor.user.last_name}}</option>
																												{% endfor %}
																											</select>
																										</div>
																									</div>
																									<div class="mb-3 row">
																										<label class="col-sm-3 col-form-label">Old Deadline</label>
																										<div class="col-sm-9">
																											<span id="editTaskDeadline"></span>
																										</div>
																									</div>																								
																									<div class="mb-3 row">
																										<label class="col-sm-3 col-form-label">New Deadline</label>
																										<div class="col-sm-4">
																											<input type="date" class="form-control" name="new-task-enddate" id="new-task-enddate">
																										</div>
																										<div class="col-sm-4">
																											<input type="time" class="form-control" min="08:00" max="17:00" step="3600" name="new-task-endtime" >
																										</div>
																									</div>
																									<div class="mb-1 row">
																										<div class="col-sm-10">
																											<button type="submit" class="btn btn-primary">Submit Details</button>
																											<button type="reset" class="btn btn-warning" data-bs-dismiss="modal">Reset and close</button>
																										</div>
																									</div>
																								</form>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="modal-footer">
																				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
																			</div>
																	</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="card-body">
														{% if task_messages %}
															{% for message in task_messages %}
														<div class="alert alert-success alert-dismissible fade show" role="alert">
															<strong>Success!</strong> {{ message }}
															<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
														</div>
															{% endfor %}
														{% endif %}

														{% if edit_task_errors %}
															{% for error in edit_task_errors %}
														<div class="alert alert-warning alert-dismissible fade show" role="alert">
															<strong>Error!</strong> {{ error }}
															<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
														</div> 
															{% endfor %}
														{% endif %}

														{% if task_error_messages %}
															{% for error in task_error_messages %}
														<div class="alert alert-warning alert-dismissible fade show" role="alert">
															<strong>Error!</strong> {{ error }}
															<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
														</div> 
															{% endfor %}
														{% endif %}
														<div class="table-responsive">
															<table class="table table-responsive-md" id="tasks-table">
																<thead>
																	<tr>
																		<th style="width:80px;"><strong>#</strong></th>
																		<th><strong>Title</strong></th>
																		<th><strong>Editor</strong></th>
																		<th><strong>Journalist Team</strong></th>
																		<th><strong>Progress</strong></th>
																		<th><strong>Other Details</strong></th>
																		<th><strong>Edit Task</strong></th>
																		<th><strong>Delete Task</strong></th>
																	</tr>
																</thead>
																<tbody>

																	{% if pending_tasks %}
																		{% for task in pending_tasks %}
																	<tr>
																		<td style="width:40px;"><strong>{{ task.id }}</strong></td>
																		<td>{{ task.title }}</td>
																		<td>{{ task.editor.user.first_name }} {{ task.editor.user.last_name }}</td>
																		<td>

																			<a href="#teamMembers{{task.id}}" data-bs-toggle="modal"  class="btn" id="teamMembers">Team Members</a>
																			<div class="modal fade" id="teamMembers{{task.id}}" tabindex="-1" aria-labelledby="teamMembers{{task.id}}Label" aria-hidden="true">
																				<div class="modal-dialog modal-dialog-centered" role="document">
																					<div class="modal-content">
																						<div class="modal-header">
																							<h5 class="modal-title">Team Members for {{task.title}} Task</h5>
																							<button type="button" class="btn-close" data-bs-dismiss="modal">
																							</button>
																						</div>
																						<div class="modal-body">
																							<div class="list-group">
																								<a href="javascript:void()" class="list-group-item list-group-item-action active">{{task.editor.user.first_name}} {{task.editor.user.last_name}} -- Editor</a>
																								{% for journalist in task.journalists.all %}
																									<a href="javascript:void()" class="list-group-item list-group-item-action">{{journalist.user.first_name}} {{journalist.user.last_name}} -- {{journalist.user.profile.capacity}}</a>
																								{% empty %}
																									<a href="javascript:void()" class="list-group-item list-group-item-action disabled">No Journalist Assigned</a>
																								{% endfor %}	
																							</div>
																						</div>
																						<div class="modal-footer">
																							<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		</td>
																		<td> 
																			<div class="progress">
																				<div class="progress-bar progress-animated bg-success mx-0" style="width:{{task.progress}}%"></div>
																			</div>
																		</td>
																		<td>
																			<a href="#otherDetails{{task.id}}" data-bs-toggle="modal"  class="btn" id="teamMembers">Other Details</a>
																			<div class="modal fade" id="otherDetails{{task.id}}" tabindex="-1" aria-labelledby="otherDetails{{task.id}}Label" aria-hidden="true">
																				<div class="modal-dialog modal-dialog-centered" role="document">
																					<div class="modal-content">
																						<div class="modal-header">
																							<h5 class="modal-title">Other Details for {{task.title}} Task</h5>
																							<button type="button" class="btn-close" data-bs-dismiss="modal">
																							</button>
																						</div>
																						<div class="modal-body">
																							<div class="basic-list-group">
																								<ul class="list-group list-group-flush">
																									<li class="list-group-item">Project - {{ task.project.title }}</li>
																									<li class="list-group-item">deadline - {{ task.deadline }}</li>
																									{% if task.status == "complete" %}
																									<li class="list-group-item list-group-item-success">status - {{ task.status }}</li>
																									{% else %}
																										{% if task.remaining_days < 3 %}
																									<li class="list-group-item list-group-item-warning">status - {{ task.status }}</li>
																									<li class="list-group-item list-group-item-warning">{{ task.remaining_days }} days remaining</li>
																										{% elif task.remaining_days <= 1 %}
																									<li class="list-group-item list-group-item-danger">status - {{ task.status }}</li>
																									<li class="list-group-item list-group-item-danger">{{ task.remaining_days }} day(s) remaining</li>
																										{% else %}
																									<li class="list-group-item list-group-item-success">status - {{ task.status }}</li>
																									<li class="list-group-item list-group-item-success">{{ task.remaining_days }} days remaining</li>
																										{% endif %}
																									{% endif %}
																								</ul>	
																							</div>
																						</div>
																						<div class="modal-footer">
																							<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		</td>
																		<td><a href="#editTaskModalToggle" data-bs-toggle="modal" onclick="populateEditTaskModal('{{task.id}}','{{task.title}}','{{task.description}}','{{task.editor.id}}', '{{task.project.id}}','{{task.deadline|date:'Y-m-d\TH:i:s'}}', '{{task.deadline}}')" class="btn btn-primary" name="editProjectSub">Edit</a></td>
																		<td><a href="#deleteTaskModal" data-bs-toggle="modal" onclick="populateDeleteTaskModal('{{task.id}}','{{task.title}}')" class="btn btn-danger" name="deleteTaskSub">Delete</a></td>
																	</tr>	
																		{% endfor %}
																	
																	{% else %}
																	{% endif %}
																	
																	
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>										
									</div>
								</div>
							</div>
							<div class="accordion__item">
								<div class="accordion__header rounded-lg" data-bs-toggle="collapse" data-bs-target="#default_collapseThree" id="submittedTaskCollapseAccordion">
									<span class="accordion__header-alphabet">Submitted Tasks</span>
									<span class="accordion__header-line flex-grow-1"></span>
									<span class="accordion__header--text">{{submitted_tasks.count}} Task(s)</span>
									<span class="accordion__header--indicator style_two"></span>
								</div>
								<div id="default_collapseThree" class="collapse accordion__body" data-bs-parent="#accordion-one">
									<div class="accordion-body-text">
										<div class="row">
											<div class="col-lg-12">
												<div class="card">
													<div class="card-header">
														<h4 class="card-title">Submitted/Complete Tasks</h4>
													</div>
													<div class="card-body">
														{% if approval_messages %}
															{% for message in approval_messages %}
														<div class="alert alert-success alert-dismissible fade show" role="alert">
															<strong>Success!</strong> {{ message }}
															<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
														</div>
															{% endfor %}
														{% endif %}
														<div class="table-responsive">
															<table class="table table-responsive-md" id="tasks-table">
																<thead>
																	<tr>
																		<th style="width:80px;"><strong>#</strong></th>
																		<th><strong>Title</strong></th>
																		<th><strong>Journalist Team</strong></th>
																		<th><strong>Progress</strong></th>
																		<th><strong>Action</strong></th>
																		<th><strong>Other Details</strong></th>
																	</tr>
																</thead>
																<tbody>

																	{% if submitted_tasks %}
																		{% for task in submitted_tasks %}
																	<tr>
																		<td><strong>{{ task.id }}</strong></td>
																		<td>{{ task.title }}</td>
																		<td>

																			<a href="#teamMembers{{task.id}}" data-bs-toggle="modal"  class="btn" id="teamMembers">Team Members</a>
																			<div class="modal fade" id="teamMembers{{task.id}}" tabindex="-1" aria-labelledby="teamMembers{{task.id}}Label" aria-hidden="true">
																				<div class="modal-dialog modal-dialog-centered" role="document">
																					<div class="modal-content">
																						<div class="modal-header">
																							<h5 class="modal-title">Team Members for {{task.title}} Task</h5>
																							<button type="button" class="btn-close" data-bs-dismiss="modal">
																							</button>
																						</div>
																						<div class="modal-body">
																							<div class="list-group">
																								<a href="javascript:void()" class="list-group-item list-group-item-action active">{{task.editor.user.first_name}} {{task.editor.user.last_name}} -- Editor</a>
																								{% for journalist in task.journalists.all %}
																									<a href="javascript:void()" class="list-group-item list-group-item-action">{{journalist.user.first_name}} {{journalist.user.last_name}} -- {{journalist.user.profile.capacity}}</a>
																								{% empty %}
																									<a href="javascript:void()" class="list-group-item list-group-item-action disabled">No Journalist Assigned</a>
																								{% endfor %}	
																							</div>
																						</div>
																						<div class="modal-footer">
																							<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		</td>
																		<td> 
																			<div class="progress">
																				<div class="progress-bar progress-animated bg-success mx-0" style="width:{{task.progress}}%"></div>
																			</div>
																		</td>
																		<td>
																		{% if task.status == 'approved' %}
																		<span class="text text-success"><a href="{% url 'blog' task_id=task.id %}" class="btn btn-secondary" target="_blank" id="teamMembers">View Blog</a> </span>
																		{% else %}
																			{% if task.submission_status == 'submitted' %}
																			<a href="#approveArticleModalToggle" data-bs-toggle="modal" class="btn btn-outline-info" id="teamMembers">Approve/Reject -></a>
																			
																			<div class="modal fade" id="approveArticleModalToggle" tabindex="-1" aria-labelledby="approveArticleModalLabel" aria-hidden="true">
																				<div class="modal-dialog modal-lg">
																					<div class="modal-content">
																						<div class="col-lg-12">
																							
																							<div class="modal-header">
																								<h5 class="modal-title" id="composeModalToggleLabel">Approve {{task.title}} Task Article Text And Images</h5>
																								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
																							</div>
																							<div class="modal-body">
																								<a href="{% url 'blog-preview' task_id=task.id %}" class="btn btn-secondary" target="_blank" id="teamMembers">Preview</a>
																								<div class="col-lg-12">
																									<h2>{{task.article.title}}</h2>
																									{% for section in task.article.article_sections.all %}
																									<h3>{{section.section_title}}</h3>
																									<p>{{section.section_text}}</p>
																									<p>by {{section.journalist.user.first_name}} {{section.journalist.user.last_name}} - {{section.journalist.type}}</p>	
																									<hr>										
																									
																									{% endfor %}

																									{% if task.article.photo_gallery.all %}
																									{% for photo_gallery in task.article.photo_gallery.all %}
																									<h3>{{photo_gallery.title}}</h3>
																									{% if photo_gallery.images.all %}
																									<div class="row mb-2">
																									{% for image in photo_gallery.images.all %}
																									{% if image.image  %}													
																										<div class="col-md-6 h-50">
																											<img class="img-fluid" src="{{image.image.url}}" alt="">
																										</div>
																									{% endif %}
																									{% endfor %}
																									</div>
																									<hr>
																									{% endif %}																									
																									{% endfor %}
																									{% else %}
																									{% endif %}

																									<div class="btn btn-outline-primary dropdown-toggle mb-2" data-bs-toggle="dropdown">
																										REJECT
																									</div>
																									<div class="dropdown-menu dropdown-menu-left">
																									<form method="post">
																									{% csrf_token %}
																										<input type="hidden" value="{{task.id}}" name="reject-task-id">
																										<textarea required class="form-control" name="reason" rows="2" placeholder="reason"></textarea>
																										<button class="btn btn-danger mt-2" type="submit" name='reject'>Reject Gallery</button>

																									</form>
																									</div>

																									

																									<form method="post" class="mb-2">
																									{% csrf_token %}
																										<input type="hidden" name="task-id" value="{{task.id}}">
																										<button type="submit" class="btn btn-success" name="approve">APPROVE</button>
																									</form>
																									

																								</div>											
																							</div>
																							<div class="modal-footer">
																								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			{% else %}
																			<span class="text text-info">Awaiting Publication</span>																			
																			{% endif %}
																		{% endif %}
																																				
																		</td>
																		<td>
																			<a href="#otherDetails{{task.id}}" data-bs-toggle="modal"  class="btn" id="teamMembers">Other Details</a>
																			<div class="modal fade" id="otherDetails{{task.id}}" tabindex="-1" aria-labelledby="otherDetails{{task.id}}Label" aria-hidden="true">
																				<div class="modal-dialog modal-dialog-centered" role="document">
																					<div class="modal-content">
																						<div class="modal-header">
																							<h5 class="modal-title">Other Details for {{task.title}} Task</h5>
																							<button type="button" class="btn-close" data-bs-dismiss="modal">
																							</button>
																						</div>
																						<div class="modal-body">
																							<div class="basic-list-group">
																								<ul class="list-group list-group-flush">
																									<li class="list-group-item">Project - {{ task.project.title }}</li>
																									<li class="list-group-item">deadline - {{ task.deadline }}</li>
																									{% if task.status == "completed" or task.status == "approved" %}
																									<li class="list-group-item list-group-item-success">status - {{ task.status }}</li>
																									<li class="list-group-item list-group-item-success">Submission status - {{ task.submission_status }}</li>
																									<li class="list-group-item list-group-item-info">Submitted with - {{ task.deadline|timeuntil:task.end_date_time }} to go</li>
																									{% else %}
																										{% if task.remaining_days < 3 %}
																									<li class="list-group-item list-group-item-warning">status - {{ task.status }}</li>
																									<li class="list-group-item list-group-item-warning">{{ task.remaining_days }} days remaining</li>
																										{% elif task.remaining_days <= 1 %}
																									<li class="list-group-item list-group-item-danger">status - {{ task.status }}</li>
																									<li class="list-group-item list-group-item-danger">{{ task.remaining_days }} day(s) remaining</li>
																										{% else %}
																									<li class="list-group-item list-group-item-success">status - {{ task.status }}</li>
																									<li class="list-group-item list-group-item-success">{{ task.remaining_days }} days remaining</li>
																										{% endif %}
																									{% endif %}
																								</ul>	
																							</div>
																						</div>
																						<div class="modal-footer">
																							<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		</td>
																	</tr>	
																		{% endfor %}
																	
																	{% else %}
																	{% endif %}
																	
																	
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
			
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by Mike 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    {% include 'workflow-scripts.html' %}
	{% block workflow-scripts-section %}
	{% endblock %}

	<script src="{% static 'workflow-static/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>

	<script >

		function populateDeleteTaskModal(id,title){
			document.getElementById("deleteTaskModalLabel").innerHTML = "Delete "+ title + " Task";
			document.getElementsByName('delete-task-id')[0].value=id;
		}

		function populateEditProjectModal(id,title,description){
			document.getElementById("editProjectModalToggleLabel").innerHTML = "Edit "+ title + " Project";
			//document.getElementById("setupTaskDescription").innerHTML = description;

			document.getElementsByName('project-id')[0].value=id;
			document.getElementsByName('new-project-title')[0].value=title;
			document.getElementsByName('new-project-description')[0].value=description;
		}

		function populateEditTaskModal(id,title,description,editor_id, project_id,deadline, display_deadline){
			document.getElementById("editTaskModalToggleLabel").innerHTML = "Edit "+ title + " Task";
			document.getElementById("editTaskDeadline").innerHTML = display_deadline;

			// Assuming the datetime value is stored in a variable called 'datetime'
			var deadline = deadline;

			// Parse the deadline string into a JavaScript Date object
			var dateObj = new Date(deadline);

			// Get the date and time components from the Date object
			var min_date = dateObj.toISOString().split('T')[0]
			var time = dateObj.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }); // Format: 'hh:mm'


  			document.getElementsByName('edit-task-id')[0].value=id;
			document.getElementsByName('new-task-title')[0].value = title;
			document.getElementsByName('new-task-description')[0].value = description; 
			document.getElementsByName('new-task-project-id')[0].value = project_id 
			document.getElementsByName('new-task-editor-id')[0].value = editor_id

			document.getElementById("new-task-enddate").setAttribute("min", min_date);

			console.log(min_date)

			document.getElementsByName('new-task-endtime')[0].value = time;
			console.log(deadline);
			/*
			document.getElementsByName('new-task-enddate')[0].value = enddate 
			document.getElementsByName('new-task-endtime')[0].value = 
			*/
			console.log()
		}
		var table = $('#projects-table').DataTable({
			"scrollX": true,
			language: {
				paginate: {
				next: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
				previous: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>' 
				}
			}
		});



		// Get the current date
		var currentDate = new Date();

		// Calculate the date one week from now
		var oneWeekFromNow = new Date();
		var threeDaysFromNow = new Date();
		oneWeekFromNow.setDate(currentDate.getDate() + 7);
		threeDaysFromNow.setDate(currentDate.getDate() + 3)

		// Format the minimum date in yyyy-mm-dd format
		var minimumDate = oneWeekFromNow.toISOString().split('T')[0];
		var minimumDate2 = oneWeekFromNow.toISOString().split('T')[0];

		// Set the minimum date value for the input field
		document.getElementById("task-enddate").setAttribute("min", minimumDate);
		document.getElementById("new-task-enddate").setAttribute("min", minimumDate2);

	</script>


	{% if project_errors %}	
	<script>	
		document.getElementById('newProjectButton').click();
	</script>
	{% endif %}	

	{% if task_errors %}	
	<script>			
		document.getElementById('taskCollapseAccordion').click();
		document.getElementById('newTaskButton').click();
	</script>
	{% endif %}	

	{% if task_messages or task_error_messages %}	
	<script>			
		document.getElementById('taskCollapseAccordion').click();
	</script>
	{% endif %}	

	{% if approval_messages %}
	<script>			
		document.getElementById('submittedTaskCollapseAccordion').click();
	</script>
	{% endif %}	
	
	
	
</body>
</html>