{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- PAGE TITLE HERE -->
    <title>Director Profile Page</title>

	{% include 'workflow-styles.html' %}
	{% block workflow-styles-section %}
	{% endblock %}

    <link rel="stylesheet" href="./vendor/select2/css/select2.min.css">

</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

		{% include 'director/header-section.html' %}
		{% block nav-header-section %}
		{% endblock %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
				<div class="page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Profile Settings</a></li>
					</ol>
				</div>
                {% if profile_settings_errors %}
                    {% for error in profile_settings_errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Error!</strong> {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> 
                    {% endfor %}
                {% endif %}

                {% if profile_settings_messages %}
                    {% for message in profile_settings_messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> 
                    {% endfor %}
                {% endif %}
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="profile card card-body px-3 pt-3 pb-0">
                            <div class="profile-head">
                                <div class="photo-content">
                                    <div class="cover-photo rounded"></div>
                                </div>
                                <div class="profile-info">
									<div class="profile-photo">
										<img src="{{ user.profile.profile_picture.url }}" class="img-fluid rounded-circle" alt="">
									</div>
									<div class="profile-details">
										<div class="profile-name px-3 pt-2">
											<h4 class="text-primary mb-0">{{user.first_name}} {{user.last_name}} </h4>
											<p>{{user.profile.capacity}}</p>
										</div>
										<div class="profile-email px-2 pt-2">
											<h4 class="text-muted mb-0"> {{user.profile.email}} </h4>
											<p>Email</p>
										</div><br>
                                        
									</div>
                                </div>
                            </div>
                        </div>                        
                    </div>                    
                </div>
                <div class="row">                    
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-tab">
                                    <div class="custom-tab-1">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a href="#about-me" data-bs-toggle="tab" class="nav-link active show">About Me</a>
                                            </li>
                                            <li class="nav-item"><a href="#profile-settings" data-bs-toggle="tab" class="nav-link">Settings</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            
                                            <div id="about-me" class="tab-pane fade active show">
                                                <div class="profile-about-me">
                                                    <div class="pt-4 border-bottom-1 pb-3">
                                                        <h4 class="text-primary">About Me</h4>
                                                        <p class="mb-2"> 
                                                        {% if user.profile.bioline %}
                                                        {{user.profile.bioline}}
                                                        {% else %}
                                                        <h4>No bioline available</h4>

                                                        {% endif %}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="profile-skills mb-5">
                                                    <h4 class="text-primary mb-2">Specialties</h4>
                                                    {% if employee.specialties.all %}
                                                    {% for specialty in employee.specialties.all %}
                                                    <a href="javascript:void(0);" class="btn btn-primary light btn-xs mb-1">{{specialty}}</a>
                                                    {% endfor %}
                                                    {% else %}
                                                    <h4>No specialties at the moment</h4>
                                                    {% endif %}
                                                </div>
                                                <div class="profile-lang  mb-5">
                                                    <h4 class="text-primary mb-2">Languages</h4>
													{% if employee.languages.all %}
                                                    {% for language in employee.languages.all %}
                                                    <a href="javascript:void(0);" class="text-muted pe-3 f-s-16"><i class="flag-icon flag-icon-bd"></i> {{language}}</a>
                                                    {% endfor %}
                                                    {% else %}
                                                    <h4>No languages specified</h4>
                                                    {% endif %}
                                                    
                                                </div>
                                                <div class="profile-personal-info">
                                                    <h4 class="text-primary mb-4">Other Information</h4>
                                                    <div class="row mb-2">
                                                        <div class="col-sm-3 col-5">
                                                            <h5 class="f-w-500">Name <span class="pull-end">:</span>
                                                            </h5>
                                                        </div>
                                                        <div class="col-sm-9 col-7"><span>{{employee.first_name}} {{employee.other_names}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-sm-3 col-5">
                                                            <h5 class="f-w-500">Email <span class="pull-end">:</span>
                                                            </h5>
                                                        </div>
                                                        <div class="col-sm-9 col-7"><span>{{employee.email}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-sm-3 col-5">
                                                            <h5 class="f-w-500">Time On Job <span class="pull-end">:</span></h5>
                                                        </div>
                                                        <div class="col-sm-9 col-7"><span>{{ employee.date_of_employment|timesince }} </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="profile-settings" class="tab-pane fade">
                                                <div class="pt-3">
                                                    <div class="settings-form">
                                                        <h4 class="text-primary">Account Setting</h4>
                                                        <form method="post">
                                                        {% csrf_token %}

                                                            <div class="row mb-3">
                                                                <div class="mb-3 col-md-6">
                                                                    <label class="form-label">Password</label>
                                                                    <input type="password" name="password" placeholder="Password" class="form-control">
                                                                </div>
                                                                <div class="mb-3 col-md-6">
                                                                    <label class="form-label">Confirm Password</label>
                                                                    <input type="password" name="confirm_password" placeholder="Password" class="form-control">
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <h4 class="text-primary">Work Profile Setting</h4>
                                                            <div class="row mb-3">
                                                                <div class="mb-3 col-md-6">
                                                                    <label class="form-label">Profile picture</label>
                                                                    <input type="file" name="profile_picture" class="form-file-input form-control">
                                                                </div>
                                                            </div>                                                            
                                                            
                                                            <div class="mb-3">
                                                                <label class="form-label">Bio Line (About Me)</label>
                                                                <textarea class="form-control" name="bioline" rows="4" id="comment"></textarea>                                                                
                                                            </div>
                                                            
                                                            <button class="btn btn-primary" type="submit">Submit</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									<!-- Modal -->
									<div class="modal fade" id="replyModal">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Post Reply</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
												</div>
												<div class="modal-body">
													<form>
														<textarea class="form-control" rows="4">Message</textarea>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-danger light" data-bs-dismiss="modal">btn-close</button>
													<button type="button" class="btn btn-primary">Reply</button>
												</div>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by Mike 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
	{% include 'workflow-scripts.html' %}
	{% block workflow-scripts-section %}
	{% endblock %}	

    <script src="./vendor/select2/js/select2.full.min.js"></script>
    <script src="./js/plugins-init/select2-init.js"></script>
	
	
	
</body>
</html>